# ignore everything
*
!*/

# track this file
!.gitignore

# folders to track
!alacritty/**
!hypr/**
!kitty/**
!dunst/**
!nvim/**
!river/**
!sway/**
!swaylock/**
!tofi/**
!vimium/**
!wallpapers/**
!waybar/**
!wofi/**

# files to track
!.zshrc
!cmus/catppuccin.theme
!mocha.sh
!warden.zsh-theme
