# ignore everything
*
!*/

# for naughty bitch folders that don't
# want to be ignored for some reason.
nvim/

# track this file
!.gitignore

# folders to track
!alacritty/**
!hypr/**
!nvoid/**
!river/**
!swaylock/**
!waybar/**
!wallpapers/**

# files to track
!cmus/catppuccin.theme
!mocha.sh
!.zshrc
!warden.zsh-theme
