# ignore everything
*
!*/

# for naughty bitch folders that don't
# want to be ignored for some reason.

# track this file
!.gitignore

# folders to track
!alacritty/**
!hypr/**
!nvim/**
!river/**
!swaylock/**
!waybar/**

# files to track
!mocha.sh
!.zshrc
!warden.zsh-theme
